<div class="row">
    <div id="operations_list" class="col-12">
        <table id="list_table" class="table">
            <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Libellé</th>
                <th scope="col">Recette</th>
                <th scope="col">Dépense</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div id="operations_total" class="col-12">
        <span>Solde total : </span><span id="operations_total_result"></span>
    </div>
</div>
